.AlsoLike {
    margin-top: 80px;
    padding: 0 92px 120px;
}

.AlsoLike .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    margin-bottom: 9px;
}

.also-like-cart {
    display: flex;
    place-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:1100px) {
    .AlsoLike {
        padding: 0 45px 120px;
    }
}