.sign-cart {
    display: flex;
    margin-left: auto;
}

.sign-cart span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 12px;
}

.sign-cart .sign-in,
.sign-cart .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 24px;
}

@media (max-width:1000px) {
    .sign-cart {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}