.OrderSummary {
    margin-left: 24px;
    width: 100%;
}

.OrderSummary .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #091625;
    margin-bottom: 24px;
    text-align: left;
}

.number-items {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #6B737C;
    text-align: left;
    display: flex;
    margin-bottom: 24px;
}

span.items-qty {
    margin-left: auto;
}

.division-line {
    border-top: 1px solid #E6E8E9;
}

.OrderSummary .total-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #091625;
    text-align: left;
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
}

span.price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-align: right;
    color: #091625;
    margin-left: auto;
}

.OrderSummary .checkout {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #3A4451;
    border-radius: 8px;
    width: 336px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
}

.OrderSummary .continue {
    margin-top: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #091625;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border: 2px solid #091625;
    border-radius: 8px;
    width: 336px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
}