.shopping .cart ul li {
    list-style: none;
}

.cart-item{
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid #CED0D3;
}

.cart-item .product-photo{
    width: 120px;
}

.photo-content {
    width: 120px;
    height: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.photo-content img {
    max-width: 120px;
    max-height: 120px;
    object-fit: none;
}

.pack-mark {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: #848A92;
    background: #E6E8E9;
    padding: 2px 4px;
    width: fit-content;
    margin: 8px auto 0;
}

.cart-item .product-description {
    width: auto;
    height: auto;
    margin-left: 16px;
}

.cart-item .product-price {
    width: auto;
    height: auto;
    margin-left:auto;
    text-align: right;
}

.product-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #091625;
    margin-bottom: 12px;
}

.product-qty {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #091625;
    margin-bottom: 16px;
}

.product-qty select {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #091625;
    margin-bottom: 0;
    border: unset;
    text-decoration: underline;
    cursor: pointer;
}

.product-pack {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #091625;
    margin-bottom: 22px;
    margin-left: 6px;
}

.product-pack span.product-description {
    color: #90959B;
}

span.list-point {
    margin-right: 6px;
}

.actions-pack, .actions-single {
    display: flex;
}

.actions-single {
    cursor: pointer;
}

.actions-edit {
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #091625 !important;
    padding: 0 9px 0 0 !important;
    border-color: #9CA2A8 !important;
    cursor: pointer !important;
    height: 16px;
    text-transform: unset !important;
}

.actions-remove {
    text-transform: unset !important;
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #091625 !important;
    padding: 0 0 0 9px !important;
    cursor: pointer !important;
}

.unit-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #091625;
    margin-top: 3px;
}

.total-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    color: #091625;
    margin-top: 12px;
}

#root > div > div.shopping > div.cart > ul > li:nth-child(1) > div > div.product-description > div.product-pack > ul > li::marker{
    margin-right: 6px;
}