.Logo {
    width: 172px;
    height: 48px;
    background: #CED0D3;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #848A92;
    display: flex;
    place-content: center;
    align-items: center;
}